.scroll-list-container {
  position: relative;
}

.scroll-list {
  max-height: 400px;
  overflow-y: auto;
}

.item {
  border: 1px solid white;
  padding: 12px;
}

.item.selected {
  background: white;
  color: black;
}
